html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

button {
    cursor: pointer;
}

#mainContent {
    padding: 30px;
}

#header, #subHeader {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.modal-dialog{
    margin-top: 200px;
}
#submitBtnDiv {
    margin-top: 30px;
}