html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

button {
    cursor: pointer;
}

#mainContent {
    padding: 30px;
    font-size: 14px;
}

#header, #subHeader {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#subHeader {
    margin-top: 40px;
}

.modal-dialog {
    margin-top: 200px;
}

#submitBtnDiv {
    margin-top: 30px;
}

* {
    font-size: 14px;
}

.main-buttons > .btn {
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.left-menu {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.right-menu {
    border: 1px solid black;
}

.row-custom {
    margin-right: 0;
    margin-left: 0;
}

.total-amt {
    /*font-size: 20px;*/
}

.list-group-item {
    border: 1px solid black;
}

.items-list {
    padding: 0 5px;
}